<!DOCTYPE html>
<html>
  <head>
    <title>CardCraft</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <% if current_user.present? %>
        <%= link_to('Logout', destroy_user_session_path, data: { "turbo-method": :delete }) %>
      <% else %>
       <%= link_to('Sign Up/Login', new_session_path(:user), class:"btn btn-sm btn-light float-right" ) %>
      <% end %>
    </div>
    <hr>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
